@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 40px;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 50px;
}

#main-canvas {
    border: 1px solid black;
}

#sidebar {
    padding: 20px;
    border: 2px solid gray;
    border-radius: 6px;
}

#controls-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#settings-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#settings-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
    accent-color: rgb(51, 179, 230);
    width: 1.5rem;
    height: 1.5rem;
}

input[type="checkbox"]:hover {
    accent-color: rgb(51, 179, 230);
}

button {
    cursor: pointer;
    padding: 10px;
    border: none;
    background: skyblue;
    width: 7.5rem;
    height: 2.2rem;
}

button:hover {
    background: rgb(51, 179, 230);
}

button:active {
    background: skyblue;
}

input[type="range"] {
    width: 100%;
    margin: 7.55px 0;
    background-color: transparent;
    -webkit-appearance: none;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: #87ceeb;
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 12.9px;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    margin-top: -7.55px;
    width: 19px;
    height: 28px;
    background: #ffffff;
    border: 1.8px solid #00001e;
    border-radius: 15px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type="range"]:hover::-webkit-slider-runnable-track {
    background: #71c5e7;
}
input[type="range"]::-moz-range-track {
    background: #87ceeb;
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 12.9px;
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    width: 19px;
    height: 28px;
    background: #ffffff;
    border: 1.8px solid #00001e;
    border-radius: 15px;
    cursor: pointer;
}
input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 12.25px 0;
    color: transparent;
    width: 100%;
    height: 12.9px;
    cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
    background: #9dd7ef;
    border: 0;
    border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
    background: #87ceeb;
    border: 0;
    border-radius: 10px;
}
input[type="range"]::-ms-thumb {
    width: 19px;
    height: 28px;
    background: #ffffff;
    border: 1.8px solid #00001e;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:hover::-ms-fill-lower {
    background: #87ceeb;
}
input[type="range"]:hover::-ms-fill-upper {
    background: #71c5e7;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type="range"] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}
